@tailwind base;
@tailwind components;
@tailwind utilities;
.bgMenu{
    background-image: url('/NuestroMenu.jpg');
  }
  .bgPromociones{
    background-image: url('/Promociones.jpg');
  }
  .bgSabiasQue{
    background-image: url('/SabiasQue.jpeg');
  }