@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Allura', cursive;
font-family: 'Krub', sans-serif;
font-family: 'Exo 2', sans-serif;
}
.bgMenu{
  background-image: url('/NuestroMenu.jpg');
}
.bgPromociones{
  background-image: url('/Promociones.jpg');
}
.bgSabiasQue{
  background-image: url('/SabiasQue.jpeg');
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
